name: Build Pipeline

on:
  workspace_dispatch:

jobs:
  build-pipeline:
    runs-on: ubuntu-latest

	- name: Checkout repository
	  uses: actions/checkout@v4

	- name: Set up Python
	  uses: actions/setup-python@v5

	- name: Install dependencies
	  run: |
	    python -m pip install --upgrade pip
		pip install -r requirements.txt

	- name: Build pipeline
	  env:
	    DATABRICKS_HOST: ${{  secrets.DATABRICKS_HOST  }}
		DATABRICKS_TOKEN: ${{  secrets.DATABRICKS_TOKEN  }}
		MLFLOW_TRACKING_URI: databricks

      run: python -m src.model.build_pipeline