name: Build and Deploy Pipeline

on:
  workflow_dispatch:

jobs:
  build-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
      
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build pipeline
      env:
        DATABRICKS_HOST: ${{  secrets.DATABRICKS_HOST  }}
        DATABRICKS_TOKEN: ${{  secrets.DATABRICKS_TOKEN  }}
        MLFLOW_TRACKING_URI: databricks

      run: python -m src.model.build_pipeline

  deploy-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{  secrets.DOCKER_USERNAME  }}
        password: ${{  secrets.DOCKER_PASSWORD  }}

    - name: Build Docker image
      run: docker build -t wind-turbine-anomaly-detection:latest .

    - name: Push Docker image
      run: docker push wind-turbine-anomaly-detection:latest